---
layout: layouts/base.njk
pagination:
  data: collections.tagList
  size: 1
  alias: tag
  addAllPagesToCollections: true
permalink: "/tags/{{ tag | slug }}/"
eleventyComputed:
  title: "Posts tagged '{{ tag }}'"
pageClass: journal
---

<section>
  <h1>Articoli con il tag “{{ tag }}”</h1>
  <ul class="journal-list">
    {% for post in collections[tag] %}
    <a href="{{ post.url }}">
      <li>
        <span>{{ post.data.title }}</span>
        <hr>
        <small>{{ post.date | formatDate }}</small>
        {% if post.data.description %}
          <div class="post-desc">{{ post.data.description }}</div>
        {% endif %}
      </li>
    </a>
    {% endfor %}
  </ul>
</section>
