---
pagination:
  data: collections.tagList
  size: 1
  alias: tag
  addAllPagesToCollections: true
permalink: "/tags/{{ tag | slug }}/"
eleventyComputed:
  title: "Posts tagged '{{ tag }}'"
---

<h1>You're looking for more “{{ tag }}”</h1>

<ul>
  {% for item in collections[tag] %}
    <li><a href="{{ item.url }}">{{ item.data.title }}</a> - {{ item.date | readableDate }}</li>
  {% endfor %}
</ul>
