<footer>
  <div class="flex-between">
    <p>
      <img src="/assets/images/logo-small.svg" alt="Logo piccolo">
      <span class="copyright">© {{ '' | date | formatDate('yyyy') }} Il Mio Nome</span>
    </p>
    <p>
      Questo è il mio sito personale dove condivido pensieri, progetti e collegamenti interessanti. Realizzato con <a href="https://www.11ty.dev/">11ty</a> e tanto caffè.
    </p>
    <p class="top">
      <a href="#">Torna su</a>
    </p>
  </div>
</footer>