<footer>
  <div class="flex-between">
    <p>
      <span class="copyright">©2025 PM</span>
    </p>
    <p>
      I'd love if you followed me via RSS feeds: <a href="/blog/feed.xml">Blog</a> or <a href="/links/feed.xml">Links</a>. You can <a href="https://letterbird.co/piero">email me</a> or ping me on <a href="https://c.im/@piero">Mastodon</a>. Last build: {% buildTime %}.
    </p>
    <p class="top">
      <a href="#">Back to top</a>
    </p>
  </div>
</footer>
