---
permalink: /blog/feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
  <channel>
    <title>Piero Macchioni</title>
    <link>{{ metadata.url }}/blog/</link>
    <description>Journal</description>
    <language>it-it</language>
    <lastBuildDate>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</lastBuildDate>

    {% for post in collections.posts %}
    <item>
      <title>{{ post.data.title }}</title>
      <link>{{ metadata.url }}{{ post.url }}</link>
      <guid isPermaLink="true">{{ metadata.url }}{{ post.url }}</guid>
      <pubDate>{{ post.date | dateToRfc3339 }}</pubDate>
      <description><![CDATA[{{ post.templateContent | htmlToAbsoluteUrls(metadata.url + post.url) }}]]></description>
    </item>
    {% endfor %}
  </channel>
</rss>
