---
permalink: "/links/feed.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="/links-feed.xsl"?>
<rss version="2.0">
  <channel>
    <title>Links</title>
    <link>{{ metadata.url }}/links/</link>
    <description>My linkblog</description>
    <language>en-en</language>
    <lastBuildDate>{{ collections.links | getNewestCollectionItemDate | dateToRfc822 }}</lastBuildDate>

    {% for item in collections.links %}
    <item>
      <title>{{ item.data.title }}</title>
      <link>{{ item.data.url }}</link>
      <guid isPermaLink="false">{{ item.data.url }}</guid>
      <pubDate>{{ item.date | dateToRfc822 }}</pubDate>
      <description><![CDATA[{{ post.templateContent | htmlToAbsoluteUrls(metadata.url + post.url) | safe }}]]></description>
    </item>
    {% endfor %}
  </channel>
</rss>
