{% extends "layouts/base.njk" %}
{% set pageClass = "journal_post" %}

{% block content %}
<article>
  <div class="title-desc">
    <h1>{{ title }}</h1>
    {% if description %}
      <h2>{{ description }}</h2>
    {% endif %}
  </div>
  
  <div class="metadata">
    <p>Pubblicato il {{ page.date | formatDate }} 
    {% if tags and tags.length > 0 %}
      • 
      {% for tag in tags %}
        {% if tag != "posts" %}
        <a href="/tags/{{ tag }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
    </p>
  </div>
  
  <div class="show-link-underlines">
    {{ content | safe }}
  </div>
  
  <hr>
  
  <div class="pagination">
    <div class="grid-2-across">
      {% if collections.posts | getPreviousCollectionItem %}
        <div>
          <p>
            ← <a href="{{ collections.posts | getPreviousCollectionItem(page).url }}">
              <span>{{ collections.posts | getPreviousCollectionItem(page).data.title }}</span>
            </a>
          </p>
        </div>
      {% else %}
        <div></div>
      {% endif %}
      
      {% if collections.posts | getNextCollectionItem %}
        <div style="text-align: right;">
          <p>
            <a href="{{ collections.posts | getNextCollectionItem(page).url }}">
              <span>{{ collections.posts | getNextCollectionItem(page).data.title }}</span>
            </a> →
          </p>
        </div>
      {% else %}
        <div></div>
      {% endif %}
    </div>
  </div>
</article>
{% endblock %}