{% extends "layouts/base.njk" %}
{% set pageClass = "journal_post" %}

{% block content %}
<article>
  <p style="background: yellow;">🔧 Layout post.njk attivo</p>
  <div class="title-desc">
  <h1>{{ page.data.title }}</h1>
  {% if page.data.description %}
    <h2>{{ page.data.description }}</h2>
  {% endif %}
</div>
  
  <div class="metadata">
    <p>Published on {{ page.date | formatDate }} 
    {% if tags and tags.length > 0 %}
      • 
      {% for tag in tags %}
        {% if tag != "posts" %}
        <a href="/tags/{{ tag }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
    </p>
  </div>
  
  <div class="show-link-underlines">
    {{ content | safe }}
  </div>
  
  <hr>
  {% if collections and collections.posts and page %}
  <div class="pagination">
    <div class="grid-2-across">
      {% set prevPost = collections.posts | getPreviousCollectionItem(page) %}
      {% set nextPost = collections.posts | getNextCollectionItem(page) %}

      {% if prevPost %}
        <div>
          <p>
            ← <a href="{{ prevPost.url }}">
              <span>{{ prevPost.data.title }}</span>
            </a>
          </p>
        </div>
      {% else %}
        <div></div>
      {% endif %}
      
      {% if nextPost %}
        <div style="text-align: right;">
          <p>
            <a href="{{ nextPost.url }}">
              <span>{{ nextPost.data.title }}</span>
            </a> →
          </p>
        </div>
      {% else %}
        <div></div>
      {% endif %}
    </div>
  </div>
{% endif %}

 


</article>
{% endblock %}