---
layout: layouts/page.njk
title: About
pageClass: about
---

<div class="grid-2-1-1">
  <section id="colophon">
    <h2>Hi, this is Piero.</h2>
    <p>I’m a journalist, a father, a food-obsessed. I believe in the open web, good books, fountain pens, and prime lenses.
</p>
        
    <h3>Keep in touch</h3>
    <ul>
      <li>Email: <a href="https://letterbird.co/macchioni">io@esempio.com</a></li>
      <li>Mastodon: <a href="https://c.im/@piero">@piero@c.im</a></li>
      <li>Newsletter: <a href="https://secretbreakfast.com">Secret Breakfast</a></li>
    </ul>
  </section>
  
  <div class="right1">
    <input type="checkbox" id="toggle1" class="toggle-checkbox">
    <label for="toggle1" class="toggle-label">
      <div>
        <h3>Strumenti e tecnologie <span class="toggle-caret"></span></h3>
      </div>
      <div>
        <p>Cosa utilizzo per il mio lavoro quotidiano.</p>
      </div>
    </label>
    
    <div class="toggle-content">
      <p>Ecco gli strumenti che utilizzo per il mio lavoro quotidiano:</p>
      <ul>
        <li>Editor: Visual Studio Code</li>
        <li>Sistema operativo: macOS</li>
        <li>Browser: Firefox</li>
        <li>CMS: 11ty, WordPress</li>
        <li>Linguaggi: HTML, CSS, JavaScript</li>
      </ul>
    </div>
  </div>
  
  <div class="right2">
    <input type="checkbox" id="toggle2" class="toggle-checkbox">
    <label for="toggle2" class="toggle-label">
      <div>
        <h3>Colophon <span class="toggle-caret"></span></h3>
      </div>
      <div>
        <p>Dettagli tecnici su questo sito.</p>
      </div>
    </label>
    
    <div class="toggle-content">
      <p>Questo sito è stato realizzato con le seguenti tecnologie:</p>
      <ul>
        <li>Generated with <a href="https://www.11ty.dev/">11ty</a></li>
        <li>Ospitato su <a href="https://www.netlify.com/">Netlify</a></li>
        <li>Font: Sohne e Tiempos</li>
        <li>Repository su <a href="https://github.com/username/site">GitHub</a></li>
      </ul>
    </div>
  </div>
</div>