---
layout: layouts/page.njk
title: About
pageClass: about
---

<div class="grid-2-1-1">
  <section id="colophon">
    <h2>Hi, this is Piero.</h2>
    <img src="/assets/images/hori.png">

          <p>I'm the deputy editor-in-chief at <a href="https://grazia.it">Grazia</a> and <a href="https://www.grazia.it/graziafood">Grazia Food</a>.</p>

          <p>I run an indie food newsletter called <a href="https://secretbreakfast.com">Secret Breakfast</a>, you should subscribe and have fun.</p>

          <p>I wrote a book about food trends interviewing 23 food personalities. You get it <a href="https://secretbreakfast.gumroad.com/l/2023-book">here</a>, it's free.</p>

          <p>I wrote an essay about <a href="https://www.lintegralerivista.it/titoli/contronatura/">Artificial Intelligence and the art of baking bread</a>, before ChatGPT was a thing.</p>

          <p>My old blog, <a href="https://leibniz.me">leibniz*</a>, was a tribute to the brilliant, albeit somewhat unconventional, philosopher.</p>

          <p>I know suffering and pain, I'm an AS Roma fan.</p>

        
<h3>Keep in touch</h3>
    <ul>
      <li>Email: <a href="https://letterbird.co/macchioni">Write here</a></li>
      <li>Mastodon: <a href="https://c.im/@piero">@piero@c.im</a></li>
      <li>Newsletter: <a href="https://secretbreakfast.com">Secret Breakfast</a></li>
    </ul>
  </section>
  
  <div class="right1">
    <input type="checkbox" id="toggle1" class="toggle-checkbox">
    <label for="toggle1" class="toggle-label">
      <div>
        <h3>Stack <span class="toggle-caret"></span></h3>
      </div>
      <div>
        <p>The stuff I use.</p>
      </div>
    </label>
    
    <div class="toggle-content">
      <p>Ecco gli strumenti che utilizzo per il mio lavoro quotidiano:</p>
      <ul>
        <li>Editor: Visual Studio Code</li>
        <li>Sistema operativo: macOS - Linux Debian 12</li>
        <li>Browser: Opera, Librewolf</li>
        <li>CMS: 11ty - Ghost</li>
      </ul>
    </div>
  </div>
  
  <div class="right2">
    <input type="checkbox" id="toggle2" class="toggle-checkbox">
    <label for="toggle2" class="toggle-label">
      <div>
        <h3>Colophon <span class="toggle-caret"></span></h3>
      </div>
      <div>
        <p>About this site.</p>
      </div>
    </label>
    
    <div class="toggle-content">
      <p>About this fine HTML product.</p>
      <ul>
        <li>Generated with <a href="https://www.11ty.dev/">11ty</a></li>
        <li>Hosted on <a href="https://www.netlify.com/">Netlify</a></li>
        <li>Repository on <a href="https://github.com/">GitHub</a></li>
      </ul>
    </div>
  </div>
</div>