---
layout: layouts/base.njk
title: PM
---

<div class="container">
  <section class="intro">
    <h1>{{ title }}</h1>
    <p>Elit ut irure sit mollit non fugiat. Officia labore pariatur esse do dolore id aliqua anim dolore in sunt tempor. Adipisicing esse commodo eu esse in non reprehenderit. Labore do dolor do sunt culpa fugiat aliquip in esse. Fugiat amet nulla do aute non ullamco proident labore quisElit ut irure sit mollit non fugiat. Officia labore pariatur esse do dolore id aliqua anim dolore in sunt tempor. Adipisicing esse commodo eu esse in non reprehenderit. Labore do dolor do sunt culpa fugiat aliquip in esse. Fugiat amet nulla do aute non ullamco proident labore quis labore quis aute commodo sint. labore quis aute commodo sint.</p>
  <p class="btn continue">
      <a href="/now/">read my now page &rarr;</a>
    </p>
</section>

<section class="topics">
    <h4>Topics</h4>
    <div class="grid-4-col">
      {% for tag, posts in collections | dichotomize %}
        {% if tag != "all" and tag != "posts" %}
          <a href="/tags/{{ tag }}/" class="tag">
            {{ tag }} <sup>{{ posts.length }}</sup>
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </section>

<section>
    <h4>More</h4>
  <ul class="journal-list">
    {% for post in collections.posts | reverse %}
    <a href="{{ post.url }}">
      <li>
        <span>{{ post.data.title }}</span>
        <hr>
        <small>{{ post.date | formatDate }}</small>
        {% if post.data.description %}
          <div class="post-desc">{{ post.data.description }}</div>
        {% endif %}
      </li>
    </a>
    {% endfor %}
  </ul>
      <p class="more-link"><a href="/journal/">See all from the journal &rarr;</a></p>
</section>









</div>