---
layout: layouts/base.njk
title: PM
---

<div class="container">
  <section class="intro">
    <h1>Hi, this is Piero</h1>
    <p>I’m a journalist, a father, a food-obsessed. I believe in the open web, good books, fountain pens, and prime lenses.</p>
  <p class="btn continue">
      <a href="/now/">✹read my now page &rarr;</a>
    </p>
</section>

<img src="/assets/images/rot.jpg">

<section>
  <h2>Topics</h2>
  <ul class="topics-list">
    {% for tag in collections.tagList | sort %}
      <li>
        <a class="tag" href="/tags/{{ tag | slug }}/">{{ tag }}</a>
      </li>
    {% endfor %}
  </ul>
</section>

<section>
    <h4>More</h4>
  <ul class="journal-list">
    {% for post in collections.posts | reverse %}
    <a href="{{ post.url }}">
      <li>
        <span>{{ post.data.title }}</span>
        <hr>
        <small>{{ post.date | formatDate }}</small>
        {% if post.data.description %}
          <div class="post-desc">{{ post.data.description }}</div>
        {% endif %}
      </li>
    </a>
    {% endfor %}
  </ul>
        <p class="btn continue">
        <a href="/now/">✹See all from the journal &rarr;</a>
        </p>
</section>









</div>