---
layout: layouts/base.njk
title: Journal
permalink: /journal/index.html
---

<h1>{{ title }}</h1>

<ul>
  {% for post in collections.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.data.title }}</a> — {{ post.date | readableDate }}
    </li>
  {% endfor %}
</ul>

<p>Posts count: {{ collections.posts | length }}</p>
