---
layout: layouts/base.njk
title: Links
---

{% set total = collections.links | length %}
<section class="show-link-underlines">
  <div class="flex-between">
    <h1>Links</h1>
    <span><a class="rss-feed" href="/links/feed.xml">Links RSS</a></span>
  </div>

  {% for link in collections.links %}
    <article>
      <h3>
        <span>✱ {{ total - loop.index0 }}</span><br>
        <a href="{{ link.data.url }}">{{ link.data.title }}</a>
      </h3>
      <div class="description">
        {{ link.templateContent | safe }}
      </div>
    </article>
  {% endfor %}
</section>