---
layout: layouts/base.njk
title: Now
---

<article class="journal_post">
<section class="title-desc">
    <h1>Now</h1>
    <h2>A Now page is where you write what you're up to. Think of what you’d tell a friend you hadn’t seen in a year.</h2>
</section>

<div class="show-link-underlines">
<h3> What I’m doing now</h3>

<ul>
<li>Testing this blog made with <a href="https://www.11ty.dev">11ty</a>, GitHub and Netlify;</li>
<li>Final editing to Grazia issue 30;</li>
<li>Writing new content for <a href="https://secretbreakfast.com/">Secret Breakfast Food Newsletter</a>, you should join, it&#8217;s free;</li>
<li>Playing basketball at 6.45AM;</li>
<li>Eating 1400 kcalories per day;</li>
<li>Refocusing online presence on privacy, degoogling, FOSS software;</li>
<li>Refurbishing a $150 laptop with CPU-upgrade, SSD-upgrade, Debian 12, Xfce, btrfs&#8230;</li>
<li>Playing a baby-guitar;</li>
<li>Taking picture with a sharp lens and a film camera;</li>
<li>Translating one great memoir;</li>
</ul>

<h3>Reading</h3>

<ul>
<li><a href="https://www.bompiani.it/catalogo/la-lince-sa-aspettare-9788830107861">La lince sa aspettare</a> by Daniele Bresciani</li>
<li><a href="https://us.macmillan.com/books/9781250865878/thebezzle/">The Bezzle</a> by Cory Doctorow</li>
<li><a href="https://www.nredizioni.it/kerry-howley-reality-lo-stato-profondo-guerra-per-le-informazioni">Reality</a> by Kerry Howley</li>
<li><a href="https://us.macmillan.com/books/9781250173348/becomingwild/">Becoming Wild: How Animal Cultures Raise Families, Create Beauty, and Achieve Peace</a> by Carl Safina</li>
</ul>

<h3>Night table friends</h3>

<ul>
<li><a href="https://www.unreasonablehospitality.com/#TheBook">Unreasonable Hospitality</a> by Will Guidara</li>
<li><a href="https://www.rizzolilibri.it/libri/100-brani-di-musica-classica-da-ascoltare-una-volta-nella-vita/">100 Brani di musica classica da ascoltare una volta nella vita</a> di Nicola Campogrande</li>
</ul>
</div>
<p class="metadata"><i>Updated on Jun 7th, 2025</i></p>

{{ content | safe }}

<i class="fa-solid fa-crow"></i>